<div class="films">
  <div ng-repeat="film in films" ng-model="films">
    <h3> {{film.title}} </h3>
    <img src={{film.urlPoster}}>
    <p> Year - {{film.year}} </p>
    <p> Rating - {{film.rating}} </p>
    <h4> Genres</h4>
    <div ng-repeat="genre in film.genres">
      {{genre}}
    </div>
    <div ng-repeat="country in film.countries">
      {{country}}
    </div>
    <h4> Directors</h4>
    <div ng-repeat="director in film.directors">
      <a ng-href={{linkToAuthor+director.id}} > {{director.name}} </a>
    </div>
    <button ng-click="addToFavorite(film)">Add to favorite</button>
  </div>
</div>
